{% include 'header.html' %} 

{% block 'main' %}

<section class="py-5">
  <div class="container py-5">
      <div class="row">
          <div class="col-lg-6 mb-4">
              <div class="card border-0 shadow-sm rounded">
                  <div class="card-body p-4">
                      <div class="row align-items-center">
                          <div class="col-lg-6">
                            <h3 class="fw-bold">Charts of Portfolio</h3>
                                <p class="small text-muted mb-0">see distributed data of your spending and investment.</p>
                          </div>
                              <div>
                                <canvas id="myChart"></canvas>

                                </div>
                                
                                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                
                              <script>
                                  const ctx = document.getElementById('myChart');
                                
                                  new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                      datasets: [{
                                        label: '# of Votes',
                                        data: [12, 19, 3, 5, 2, 3],
                                        borderWidth: 1
                                      }]
                                    },
                                    options: {
                                      scales: {
                                        y: {
                                          beginAtZero: true
                                        }
                                      }
                                    }
                                  });
                              </script>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card border-0 shadow-sm rounded">
                    <div class="card-body p-4">
                        <div class="row align-items-center">
                          <h3 class="fw-bold">Try to see Portfolio</h3>
                          <form method="POST" action="/viewport">
                            {% csrf_token %}
                            <div class="mb-3">
                              <label  class="form-label">Your Name:</label>
                              <input type="text" class="form-control"  name="name" />
                             
                            </div>
                            <div class="mb-3">
                              <label class="form-label">Your Total Income:</label>
                              <input type="number" class="form-control" name="inc" />
                              <div id="note" class="form-text">We'll never share your details, anywhere else.</div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label">Your Savings:</label>
                              <input type="number" class="form-control" name="savings" />
                            </div>
                            <div class="mb-3">
                              <label class="form-label">Your Investments:</label>
                              <input type="number" class="form-control" name="invest" />
                            </div>
                            <div class="mb-3">
                              <label  class="form-label">Your Spendings:</label>
                              <input type="number" class="form-control" name="exp" />
                            </div>
                          
                            <button type="submit" class="btn btn-primary" name='send' value='submit' >submit</button>
                          </form>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

                           

{% endblock 'main' %}

{% include 'footer.html' %}